/dotFiles/emacs.d/custom.el
/dotFiles/emacs.d/auto-save-list
/dotFiles/emacs.d/elpa
/dotFiles/emacs.d/eshell
/dotFiles/emacs.d/projectile-bookmarks.eld
/dotFiles/emacs.d/recentf
/dotFiles/emacs.d/bookmarks
.yas-compiled-snippets.el
configFiles/nvim/.netrwhist
